<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<base th:href="@{/}">
	<title>Pocetna</title>
</head>
<body>
	<table class="tabela1" th:if="${session.prijavljeniKorisnik == null}">
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="login.html">login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}">
		<tr>
			<td>
				<ul>
					<li><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|">Profil</a></li>
				</ul>
				<ul>
					<li><a href="Korisnici">Korisnici</a></li>
				</ul>
				<ul>
					<li><a href="Sale">Sale</a></li>
				</ul>
				<ul>
					<li><a href="Kartice">Kartice</a></li>
				</ul>
				<ul>
					<li><a href="Komentari">Komentari</a></li>
				</ul>
				<ul>
					<li><a href="Korisnici/Logout">logout</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'korisnik'}">
		<tr>
			<td>
				<ul>
					<li><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|">Profil</a></li>
					<li><a href="Korpa">Korpa</a></li>
					<li><a th:href="|ZeljeniTreninzi?korisnikId=${session.prijavljeniKorisnik.id}|">Lista zelja</a></li>
				</ul>
				<ul>
					<li><a href="Korisnici/Logout">logout</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<form method="get">
		<table class="tabelaPretraga">
		<caption>Pretraga treninga</caption>
		<tr>
				<th class="pretraga"> 
				Naziv:<input type="search"  name="naziv" th:value="${param.naziv}?: null"/><br/>
				Trener:<input type="search" name="trener" th:value="${param.trener}?: null"/>
				</th>
				<th class="pretraga">
					Cena od:<input type="number" min="0" th:value="${param.cenaOd}?: '0'" name="cenaOd"/><br/>
					Cena do:<input type="number" min="0" th:value="${param.cenaDo}?: '5000'" name="cenaDo"/>
				</th>
				<th class="pretraga">
					<select name="tipTreningaId">
						<option value="">Tip treninga</option>
						<option th:each="itTipTreninga: ${tipoviTreninga}" th:value="${itTipTreninga.id}" th:text="${itTipTreninga.ime}" th:selected="${#strings.equals(itTipTreninga.id, param.tipTreningaId)}"></option>
					</select><br/>
				</th>
				<th class="pretraga">
					<select name="vrstaTreninga">
						<option value="">Vrsta treninga</option>
						<option value="pojedinacni">Pojedinacni trening</option>
						<option value="grupni">Grupni trening</option>
					</select><br/>
				</th>
				<th class="pretraga">
					<select name="nivoTreninga">
						<option value="">Nivo treninga</option>
						<option value="amaterski">Amaterski nivo</option>
						<option value="srednji">Srednji nivo</option>
						<option value="napredni">Napredni nivo</option></select><br/>
				</th>
				<th class="pretraga"><input  type="submit" value="Pretrazi"/></th>
			</tr>
		</table>
	</form>
		<table class="tabela">
		<caption>Treninzi</caption>
			<tr>
				<th>BR.</th>
				<th>Slika</th>
				<th>Naziv</th>
				<th>Cena</th>
				<th>Prosecna ocena</th>
			</tr>
			<tr th:each="itTrening, status: ${treninzi}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td><img th:src="${itTrening.slika}" style="width:100px;height:100px"></td>
					<td><a th:href="|treninzi/details?id=${itTrening.id}|" th:text="${itTrening.naziv}"></a></td>
					<td th:text="${itTrening.cena}"></td>
					<td th:text="${itTrening.ocena}"></td>
				</tr>
		</table>
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'administrator'}"><a href="trening/create">dodavanje treninga</a></li>
		</ul>
</body>
</html>