<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/StiloviForma.css}"/>
	<base th:href="@{/}">
	<title>LoyaltyKartica</title>
</head>
<body>
	<table>
		<tr>
			<td>
				<ul>
					<li><a href="Korpa">Korisnicka korpa</a></li>
				</ul>
				<ul>
					<li><a href="">Treninzi</a></li>
				</ul>
				<ul>
					<li><a href="Korisnici/Logout">logout</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<form method="post" action="Zakazivanje/Create">
	<input type="hidden" th:value="${kartica.id}" name="karticaId">
	<input th:each="itKorpa: ${korpe}" type="hidden" name="id" th:value="${itKorpa.id}"/>
	<input th:each="itKorpa: ${korpe}" type="hidden" name="cena" th:value="${itKorpa.cena}"/>
	<input th:each="itKorpa: ${korpe}" type="hidden" name="terminId" th:value="${itKorpa.terminTreninga.id}"/>
	<input type="hidden" name="korisnickoIme" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/><br>
		<table class="forma">
			<caption>Loyalty kartica</caption>
			<tr><th>Popust na kartici:</th><td><input type="text" th:value="${kartica.popust + '%'}" name="popust" disabled="disabled"/></td></tr>
			<tr><th>Broj bodova:</th><td><input type="number" name="brojPoena" th:if="${kartica.brojPoena} < 5" th:max="${kartica.brojPoena}"/><input type="number" name="brojPoena" th:if="${kartica.brojPoena} >= 5" th:max="${5}"/></td></tr>
			<tr><th></th><td><input type="submit" value="Zavrsi kupovinu"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
</body>
</html>