<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/StiloviTabela.css}"/>
	<base th:href="@{/}">
	<title>Korpa</title>
</head>
<body>
	<table th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.uloga == 'korisnik'}">
		<tr>
			<td>
				<ul>
					<li><a href="">Treninzi</a></li>
				</ul>
				<ul>
					<li><a href="Korisnici/Logout">logout</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="tabela">
		<caption>Korpa</caption>
		<tr>
			<th>Redni br.</th>
			<th>Naziv treninga</th>
			<th>Trener</th>
			<th>Tip treninga</th>
			<th>Datum i vreme</th>
			<th>Cena</th>
			<th></th>
		</tr>
		<tr th:each="itKorpa, status: ${korpe}" th:if="${itKorpa.aktivna == true}">
			<td class="broj" th:text="${status.index + 1}"> </td>
			<td th:text="${itKorpa.terminTreninga.trening.naziv}"></td>
			<td th:text="${itKorpa.terminTreninga.trening.trener}"></td>
			<td>	
				<ul th:each="itTrening: ${treninzi}" th:if="${itTrening.id == itKorpa.terminTreninga.trening.id}">
					<li th:each="itTip: ${itKorpa.terminTreninga.trening.tipTreninga}"><a th:text="${itTip.ime + '&nbsp;' + '|' + '&nbsp;' + itTip.opis}"></a></li>
				</ul>
			</td>
			<td class="broj" th:text="${#temporals.format(itKorpa.terminTreninga.datum, 'dd.MM.yyyy. HH:mm')}"></td>
			<td class="broj" th:text="${itKorpa.terminTreninga.trening.cena}"></td>
			<td><form method="post" action="Korpa/Delete">
					<input type="hidden" name="id" th:value="${itKorpa.id}">
					<input type="submit" value="Ukloni"/>
				</form>
			</td><tr>
			<td></td><td></td><td></td><td></td><td></td><td></td><td>
			<form method="get" action="Kartice/Details">
					<input th:each="itKartica: ${kartice}" th:if="${itKartica.odobrena == true && itKartica.korisnik.id == session.prijavljeniKorisnik.id}" type="hidden" name="id" th:value="${itKartica.id}"/>
					<input th:each="itKorpa: ${kk}" type="hidden" name="idKorpa" th:value="${itKorpa.id}"/>
					<input th:each="itKorpa: ${kk}" type="hidden" name="cena" th:value="${itKorpa.cena}"/>
					<input type="hidden" name="korisnickoIme" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/><br>
					<input th:if="${kartica != null && kartica.odobrena == true}" type="submit" value="Iskoristi popust"/>
			</form>
			<form method="post" action="Zakazivanje/Create">
					<input th:each="itKorpa: ${kk}" th:if="${itKorpa.aktivna == true && itKorpa.korisnik.id == session.prijavljeniKorisnik.id}" type="hidden" name="id" th:value="${itKorpa.id}"/>
					<input th:each="itKorpa: ${kk}" th:if="${itKorpa.aktivna == true && itKorpa.korisnik.id == session.prijavljeniKorisnik.id}" type="hidden" name="cena" th:value="${itKorpa.cena}"/>
					<input type="hidden" name="korisnickoIme" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/><br>
					<input th:each="itKorpa: ${kk}" type="hidden" name="terminId" th:value="${itKorpa.terminTreninga.id}"/>
					<input th:if="${korisniciKupljene != null && #lists.contains(korisniciKupljene, session.prijavljeniKorisnik)}" type="submit" value="Zavrsi kupovinu"/>
				
						<input type="submit" value="Zakazi"/>
				</form>
			</td>
	</table>
	<form method="post" action="Kartice/Create">
		<input th:if="${kartica == null}" type="submit" value="Napravi loyalty karticu">
	</form>
	<p class="greska" th:text="${poruka}"></p>
	
	</body>
</html>